[database]
host = localhost
dbname = zaf
username = admin
password = duff
charset = utf8mb4

[facebook]
; Mettre test_mode = true et un test_event_code pour tester via Events Manager
test_mode = false
test_event_code =

[facebook_pixels]
; Format : ID_DU_PIXEL = "TOKEN_D_ACCES"
1536994954069676 = "VOTRE_TOKEN_POUR_CE_PIXEL"
1373481401089526 = "VOTRE_TOKEN_POUR_CE_PIXEL"